# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models and data
*.pt
*.pth
*.pkl
data/

.env

# Specific data files >100MB
knowledge_base/textbooks/Astronomy2e-WEB.pdf